<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/header :: header-css"/>
</head>

<body>

<div th:replace="fragments/header :: header"/>
<div class="container">

    <div class="starter-template">

        <form method="post" name="comment_form" id="comment_form" action="/update" role="form">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" class="form-control" name="name" th:text="${product.name}"/>
            </div>
            <div class="form-group">
                <label for="type">Select Category:</label>
                <select class="form-control" name="type" id="type" th:value="${product.type}">
                    <option>RAM</option>
                    <option>MOTHER BOARD</option>
                    <option>GRAPICS CARD</option>
                </select>
            </div>
            <br/>
            <div>
                <label for="price">Price:</label>
                <input type="number" name="price" id="price" th:text="${product.price}"  min="0" step="1" data-bind="value:replyNumber" />
            </div>
            <button type="submit" id="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<div th:replace="fragments/footer :: footer"/>

</body>


</html>