<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Online Product Selling</title>
    <div th:replace="fragments/header :: header-css"/>

</head>

<body>
<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <h1>Welcome to SELL MY PRODUCT</h1>
        <h2>1. Visit <a th:href="@{/admin}">Admin page</a></h2>
        <h2>2. Visit <a th:href="@{/user}">User page</a></h2>
        <h2>3. Visit <a th:href="@{/about}">Normal page</a></h2>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>


</body>

</html>