<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/header :: header-css"/>
</head>

<body>

<div th:replace="fragments/header :: header"/>
<div class="container">

    <div class="starter-template">

        <h1>User page</h1>
        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        <br/>

        <table class="table table-striped" id="product_list">

            <thead>

            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Price</th>
            </tr>
            </thead>

            <tbody>
            <tr data-th-each="product : ${products}">
                <td class="name" data-th-text="${product.name}"></td>

                <td class="type" data-th-text="${product.type}"></td>

                <td class="type" data-th-text="${product.price}"></td>

            </tr>
            </tbody>

        </table>

        <br/>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
</div>

<div th:replace="fragments/footer :: footer"/>

</body>


</html>